<!DOCTYPE html>
<!--Só para testes-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormularioTeste</title>
</head>
<body>
    <form action = templates/resultado.html method="POST">
        <label for="renda">Renda:</label><br>
        <input type="number" id="renda" name="renda"><br>

        <label for="gastos">Gastos obrigatórios:</label><br>
        <input type="number" id="gastos" name="gastos"><br>

        <label for="investimento">Investimento:</label><br>
        <input type="number" id="investimento" name="investimento"><br>

        <label for="lazer">Lazer:</label><br>
        <input type="number" id="lazer" name="lazer"><br>

        <label for="dividas">Valor total das dividas:</label><br>   
        <input type="number" id="dividas" name="dividas"><br>

        <button type="submit">Enviar</button><br>
    </form>

</body>
</html>
